.form {
    margin: auto;
    width: 800px;
    text-align: center;
}

.form-box {
    display: flex;
    text-align: left;
    background: #F5F5F5;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.form-body {
    text-align: left;
    height: 700px;
    background: #F5F5F5;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.form-suggest {
    color:#C4C4C4;
}

.form-suggest-bold {
    color:#C4C4C4;
    font-weight: bold;
}

.form-recommend {
    color: #FF0000;
    font-weight: bold;
}

.label-payment-detail {
    margin: 0px;
    text-align: left;
}

.form-payment-body {
    text-align: left;
    width: 600px;
    height: 330px;
    background: #F7F9FF;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
