@import url("https://fonts.googleapis.com/css?family=Kanit");
li p {
    display:inline-block;
    margin-left: 25px;
  }
  
  li {
    list-style: none;
    line-height: 1px;
  }
  .node {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    transition: all 1000ms ease;
  }
  
  .divider {
    height: 40px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
  }
  .black { background-color: rgb(0, 0, 0); }
  .grey { background-color: rgba(249, 249, 250, 0); }

  /* .dot {
    height: 25px;
    width: 25px;
    background-color: #111;
    border-radius: 50%;
    display: inline-block;
  } */
  @media (max-width: 576px) {
    #pre_progress,
    #img_track {
        display: none
    }
}
  @media (max-width: 768px) {
    #pre_progress {
        display: none
    }
}

